.tamanho {
    width: 200px;
    height: 200px;
    margin-left:45%;
    margin-right: 45%;
}

table,
th,
td {
    border: 1px solid black;
    margin: auto;
    text-align: center  ;
}

h1 {
    text-align: center;
}

.hover:hover {
    color: aqua;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
    background-image: linear-gradient(to right, rgb(149, 228, 224) , rgb(134, 173, 233));
}
